{% include 'head.html' %}
<p align="center"><img src="{{ user_image }}" alt="User Image"></p>
<hr size="1">
<table style="margin-left:auto;margin-right:auto;border:1px solid #000000; text-align:center; " width="90%">
	<tr style="text-align:center">
                <td>
                        <p style="font-family: Verdana; color: #491c0f; font-size: 22px;font-weight:bold">Add monitoring object</p>
                </td>
       </tr>
</table>
<p>&nbsp;</p>
<table style="margin-left:auto;margin-right:auto;border:none0; text-align:center; " width="90%">
	<tr style="background-color:#491c0f;color:#ffffff;" >
		<td>Service and description</td>
		<td>Plugin</td>
		<td>Arguments</td>
		<td>&nbsp;</td>
		<td>Interval</td>
		<td>Active</td>
	</tr>
<form name="update_plugins" method="post" action="/almond/admin">
<input type="hidden" name="action_type" value="addplugin">
<input type="hidden" name="plugin_name" value="{{ plugin  }}">
<input type="hidden" name="test_plugin" id="test_plugin" value="False">
<tr>
        <td>
		<input type="text" size="30" name="description" value="[check_yourval] Your description">
	</td>
	<td>
	{{ plugin }}
	</td>
	<td>
		<input type="text" size="20" name="arguments">
	</td>
	<td>
		<a href="/almond/admin?page=addplugin&test=true"><button onClick="document.getElementById('test_plugin').value='True'" style="width:auto;">Test plugin</button></a>
	</td>
	<td>
		<input type="number" min="1" max="1440" value="1" size="4" name="intervall">
	</td>
	<td>
		<input type="checkbox" name="active" checked>
	</td>
</tr>
<tr style="text-align:center">
	<td colspan="5" align="center">
		<input type="submit" value="Add this monitoring object">
		<a href="/almond/admin?page=plugins"><input type="button" value="Go back"></a>
</form>
</td>
</tr>
</table>
{% include 'foot.html' %}
