{% include 'head.html' %}
<p align="center"><img src="{{ user_image }}" alt="User Image"></p>
<hr size="1">
<table style="margin-left:auto;margin-right:auto;border:1px solid #000000; text-align:center; " width="90%">
	<tr style="text-align:center">
                <td>
                        <p style="font-family: Verdana; color: #491c0f; font-size: 22px;font-weight:bold">Scheduler configuration</p>
                </td>
       </tr>
</table>
	<p align="center" style="font-family: Verdana; font-size: 14px; font-weight:bold">{{ info }} </p>
	<table class="styled-table" width="90%">
       		<thead>
	    	</thead>
	    	<tbody>
		<tr><td align="center">
               	<textarea rows=30 cols=70 style="align-content: left; overflow: auto" name="config" readonly>
{%- for c in conf -%}
{{ c }}
{% endfor %}
		</textarea>
		</td>
		</tr>
	    	<tr>
		    <td colspan="2" align="center">
			    <form name="restart_scheduler" method="post" action="/almond/admin">
       				 <input type="hidden" name="action_type" value="restart_scheduler">
        			 <p align="center"><input type="submit" value="Restart almond process"></p>
			    </form>
		    </td>
		</tr>
	    	</tbody>
	</table>
<p align="center">
<script language="javascript">document.write('<a href="' + document.referrer + '">Go back</a>');
</script>
</p>
<p>&nbsp;</p>
<hr size="1">
<p>&nbsp;</p>
{% include 'foot.html' %}
