{% include 'head.html' %}
<p align="center"><img src="{{ user_image }}" alt="Logo Image"></p>
<hr size=1">
<p>&nbsp;</p>
<p align="center" style="font-family: Verdana; font-weight: bold; font-size: 34px; text-decoration: underline;  color: #491c0f">{{ name }}</p>
<p align="center" style="font-family: Verdana; font-size: 28px">Uptime percentage: {{uptime}}%</p>
<p align="center">
<img src="{{url}}" alt="Chart" height="800" width="1200"></p>
<p>&nbsp;</p>
<p align="center">
<script language="javascript">document.write('<a href="' + document.referrer + '"><input type="button" value="Go back"></a>');
</script>
</p>
{%include 'foot.html' %}
