{% include 'head.html' %}
<script language="JavaScript">
        function set_edit(id) {
                const elem = document.getElementById(id);
                if (elem.disabled == true) {
                        var val = elem.value;
                        elem.disabled = false;
                        elem.value = '';
                        elem.value = val;
                        elem.focus();
                }
                //else elem.disabled = true;
        }
</script>
<p align="center"><img src="{{ user_image }}" alt="User Image"></p>
<p align="center" style="font-family: Verdana; font-size: 14px; font-weight: bold"> {{ info }}</p>
<hr size="1">
<table style="margin-left:auto;margin-right:auto;border:1px solid #000000; text-align:center; " width="90%">
	<tr style="text-align:center">
        <td>
        <p style="font-family: Verdana; font-size: 22px; color: #491c0f; font-weight:bold">API configuration</p>
        </td>
        </tr>
</table>
<form name="update_api_config" method="post" action="/almond/admin">
	<input type="hidden" name="action_type" value="api">
	<table class="styled-table" width="60%">
        <thead>
		<tr>
			<td>Config item</td>
			<td>Config value</td>
			<td>&nbsp;</td>
		</tr>
	</thead>
	<tbody>
		{% for item in item_names %}
		<tr>
			<td>{{ item }}</td>
			{% set value = item_values[loop.index - 1]|lower %}
			{% if item_values[loop.index-1] == "0" %}
                        <td><input type="number" id="{{loop.index-1}}" name="{{item}}" value="{{ item_values[loop.index-1] }}" min="0" max="1" disabled></td>
                        {% elif item_values[loop.index-1] == "1" %}
                        <td><input type="number" id="{{loop.index-1}}" name="{{item}}" value="{{ item_values[loop.index-1] }}" min="0" max="1" disabled></td>
                        {% elif item_values[loop.index-1].isdigit() %}
                        <td><input type="number" id="{{loop.index-1}}" name="{{item}}" value="{{ item_values[loop.index-1] }}" min="2" disabled></td>
			{% elif value in ["true", "false", "yes", "no", "on", "off", "sure"] %}
                                {% set normalized = "true" if value in ["true", "yes", "on", "sure"] else "false" %}
                                <td><select id="{{ loop.index - 1 }}" name="{{ item }}" disabled>
                                <option value="true" {% if value == "true" %}selected{% endif %}>True</option>
                                <option value="false" {% if value == "false" %}selected{% endif %}>False</option></select>
                        </td>
                        {% else %}
                        <td><input type="text" id="{{loop.index-1}}" name="{{item}}" value="{{ item_values[loop.index-1] }}" disabled></td>
                        {% endif %}
                        <td><input type="button" value="Edit"  onClick="set_edit('{{loop.index-1}}')"></td>
                </tr>
                {% endfor %}
		<tr>
			<td colspan="3" style="background-color:#494949; color:#ffffff" align="center">Config in use from global files.</td>
		</tr>
		{% for additional in add_names %}
			{% set x = item_names|count + loop.index-1 %}
		<tr>
                        <td>{{ additional }}</td>
                        {% if add_values[loop.index-1] == "0" %}
                        <td><input type="number" id="{{x}}" name="{{additional}}" value="{{ add_values[loop.index-1] }}" min="0" max="1" disabled></td>
                        {% elif add_values[loop.index-1] == "1" %}
			<td><input type="number" id="{{x}}" name="{{additional}}" value="{{ add_values[loop.index-1] }}" min="0" max="1" disabled></td>
                        {% elif add_values[loop.index-1].isdigit() %}
                        <td><input type="number" id="{{x}}" name="{{additional}}" value="{{ add_values[loop.index-1] }}" min="2" disabled></td>
                        {% else %}
                        <td><input type="text" id="{{x}}" name="{{additional}}" value="{{ add_values[loop.index-1] }}" disabled></td>
                        {% endif %}
                        <td><input type="button" value="Edit"  onClick="set_edit('{{x}}')"></td>
		{% endfor %}
                </tr>
		<tr>
                        <td colspan="3" align="center"><input type="submit" value="Write config"></td>
                </tr>
        </tbody>
</table>
		<!--<tr><td align="center">
               	<textarea rows=30 cols=70 style="align-content: left; overflow: auto" name="config">
{%- for c in conf -%}
{{ c }}
{% endfor %}
		</textarea>
		</td>
		</tr>
	    	<tr>
		<td colspan="2" align="center">
			<input type="submit" value="Update">
		</td>
		</tr>
	</tbody>
	</table>-->
</form>
<hr size="1">
<form name="add_api_config" method="post" action="/almond/admin">
<input type="hidden" name="action_type" value="add_conf">
<input type="hidden" name="config_type" value="api">
<table class="styled-table" width="60%">
        <thead>
                <tr>
                        <td colspan="2" align="center">
                                <p>Additional config options</p>
                        </td>
                </tr>
        </thead>
        <tbody>
                <tr><td align="center">
                                <select name="add_conf_value">
                                {% for c in aconf %}
                                        <option value="{{ c }}">{{ c }}</option>
                                {% endfor %}
                                </select>
                        </td>
                </tr>
                <tr>
                        <td colpspan="2" align="center">
                                <input type="submit" value="Add" {% if aconf[0] == 'None' %} disabled {% endif %}>
                        </td>
                </tr>

        </tbody>
</table>
</form>
<hr size="1">
<form name="restart" method="post" action="/almond/admin">
	<input type="hidden" name="action_type" value="restart_api">
	<p align="center"><input type="submit" value="Restart HowRU API (this service)">
	</p>
</form>
<hr size=1>
<p align="center">
<script language="javascript">document.write('<a href="' + document.referrer + '">Go back</a>');
</script>
</p>
<p>&nbsp;</p>
{% include 'foot.html' %}
