<!DOCTYPE html>
<html>
<head>
    <script language="JavaScript">
    <!--
            function timedRefresh(timeoutPeriod) {
	         //var blink_speed = 1000;
		 var count = 0;
		 var t = setInterval(function () {
	              count++;
                      var ele = document.getElementById('blinkDiv');
                      ele.style.visibility = (ele.style.visibility == 'hidden' ? '' : 'hidden');
		      if (count == 5)
	                   location.reload(true);
                  }, timeoutPeriod);
		 //setTimeout("location.reload(true);", timeoutPeriod);
	    }
            window.onload=timedRefresh(1000)
    //   -->
    </script>
    <title>HowRU</title>
</head>
<body>
	<p align="center"><img src="{{ user_image }}" alt="User Image"></p>
	<p align="center" style="font-family: Vedana; font-size: 14px; font-weight: bold">HowRU is running on this server</p>
	<hr size="1">
	<table style="margin-left:auto;margin-right:auto;" border="0" width="75%">
		<tr>
			<td style="font-family: Verdana; font-size: 16px; font-weight: bold; text-align: center">Please, wait until HowRU is initialized.</td>
		</tr>
		<tr> 
			<td style="font-family: Verdana; font-size: 16px; font-weight: bold; text-align: center"><div id="blinkDiv">API is being loaded...</div></td>
	        </tr>
	</table>
	<hr size="1">
	<p align="center"><a href="/howru/settings/plugins">Plugin settings</a></p>
	<p align="center"><a href="/howru/settings/scheduler">Scheduler settings</a></p>
	<p align="center"><a href="/docs">Documentation</a></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p align="center">HowRU &copy Andreas Lindell <a href="maito: andreas.lindell@almondmonitor.com">andreas.lindell@almondmonitor.com</a></p>
</body>
</html>
