{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Multimode{% endblock %}</h1>
{% endblock %}

{% block content %}
<p align="center">
<b><u>Servers</u></b>
<ul>
<!-- For loop logic of jinja template -->
{%for i in range(0, len)%}

<li><a href="/howru/monitoring/servers?id={{i}}">{{server_list[i]}}</a></li>
{%endfor%}

</ul>
</p>
<hr size="1">
        <table style="margin-left:auto;margin-right:auto;" border="0" width="75%">
                <caption style="font-family: Verdana; font-size: 14px; text-decoration:underline">Available API:s for all servers</caption>
                <tr>
                        <td>How are you?</td><td><a href="/howru/monitoring/howareyou">Link</a></td>
                </tr>
                <tr>
                        <td>Criticals</td><td><a href="/howru/monitoring/criticals">Link</a></td>
                </tr>
                <tr>
                        <td>Warnings</td><td><a href="/howru/monitoring/warnings">Link</a></td>
                </tr>
                <tr>
                        <td>OKs</td><td><a href="/howru/monitoring/ok">Link</a></td>
                </tr>
                <tr>
                        <td>Changes</td><td><a href="/howru/monitoring/changes">Link</a></td>
                </tr>
                        <td>Full json blob</td><td><a href="/howru/monitoring/json">Link</a></td>
                </tr>
        </table>
        <hr size="1">
        <p align="center"><a href="/howru/settings/plugins">Plugin settings</a></p>
        <p align="center"><a href="/howru/settings/scheduler">Scheduler settings</a></p>
        <p align="center"><a href="/docs">Documentation</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p align="center">HowRU &copy Andreas Lindell <a href="maito: andreas.lindell@almondmonitor.com">andreas.lindell@almondmonitor.com</a></p>
{% endblock %}
