<html>
	<head>
		<title>Howru-api restart</title>
	</head>
	<body>
		<p align="center"><img src="{{ user_image }}" alt="User Image"></p>
		<hr size="1">
		<p align="center"><b>Please, wait!</b></p>
		<p align="center">HowRU will restart in about <span id="countdowntimer">23 </span> Seconds</p>

<script type="text/javascript">
    var timeleft = 22;
    var downloadTimer = setInterval(function(){
   	timeleft--;
    	document.getElementById("countdowntimer").textContent = timeleft;
	if (timeleft ==  0) {
            window.location.href = '/almond/admin';  
	}
    	if(timeleft <= 0)
            clearInterval(downloadTimer);
    },1000);
</script>
	</body>
</html>
