kafka.bootstrap.servers=redpanda-10
kafka.topic=almond_monitor
kafka.client.id=almond
kafka.metadata.max.age.ms=60000
kafka.acks=1
kafka.enable.idempotence=false
kafka.transactional.id=almond_transaction
kafka.retries=5
kafka.max.in.flight.requests.per.connection=5
kafka.linger.ms=10
kafka.queue.buffering.max.messages=10000
kafka.compression.codec=lz4
kafka.message.max.bytes=100000
kafka.message.copy.max.bytes=65535
kafka.request.timeout.ms=30000
kafka.delivery.timeout.ms=300000
kafka.retry.backoff.ms=100
kafka.dr_cb=true
kafka.statistics.interval.ms=60000
kafka.log.connection.close=false
kafka.ssl.ca.location=
kafka.ssl.certificate.location=
kafka.ssl.key.location=
kafka.security.protocol=
kafka.sasl.mechanisms=
kafka.sasl.username=
kafka.sasl.password=
kafka.socket.timeout.ms=600000
kafka.socket.blocking.max.ms=1000
kafka.partitioner=consistent_random
kafka.transaction.timeout.ms=30000
